/* CSS */
html {

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

#container {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  width: auto;
  padding: 0.5em;
  background-color: #8BC34A;
  border-bottom: 1px solid #689F38;
  overflow: auto;
}

.title-container {
  padding: 0.5em;
}

.title {
  font-size: 1.1em;
}

.nav-button {
  background: none;
  border: none;
  min-width: 2.7em;
  min-height: 2.7em;
  outline: none;
}

.nav-button:hover {
  background-color: #689F38;
}

#up-button {
  float: left;
}

.nav-button-icon {
  max-height: 1.2em;
}

.text-box-span {
  display: block;
  overflow: hidden;
  padding: 0 1em 0 0.5em;
}

#path-box {
  width: 100%;
  width: 100%;
  line-height: 2em;
  background: none;
  border: none;
  font-size: 0.9em;
  color: #333;
}

#path-box:focus {
  outline: none;
  background-color: #DCEDC8;
  //border-bottom: 1px solid #689F38;
}

#go-button {
  float: right;
}

/* Files window */

#files-window {
  width: auto;
  background-color: #fff;
  min-height: 40%;
  margin: 0.5em;
  border: 1px solid #ccc;
}

#files-window ul {
  width: auto;
  padding: 0;
  margin: 0;
}

#files-window ul li {
  width: auto;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}

#files-window ul li:last-child {
  border:none;
}

#files-window ul li a {
  display: block;
  width: auto;
  height: 100%;
  padding: 0.5em;
}

#files-window ul li a * {
  pointer-events: none;
}

#files-window ul li a span {
  line-height: 2em;
}

#files-window ul li a:hover {
  background-color: #eee;
}

.file-icon {
  max-height: 1.5em;
  vertical-align: middle;
}

.file-name {
  margin-left: 1em;
  line-height: 2em;
}
.file-size {
  float: right;
  color: #aaa;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.log-container {
  background-color: #333;
}